{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="main">
    <div class="title_div">
        <h1 class="title">My blog</h1>
    </div>
    <hr>

    <div class="row">
    {% for post in posts reversed %}
        <div class="card">
            <a class="post_ref" href="post/{{post.id}}">
            <p class="post_title">{{post.title}}</p>
            <p class="post_date">{{post.date}}</p>
            <p class="post_content">{{post.content|truncatewords:20}}</p>
            </a>
        </div>
    {% endfor %}
    </div>
</div>