.main{
    background-color: rgb(225, 220, 220);
}

.title{
    font: optional;
}

.card{
    padding: 20;
    padding-left: 20;
    padding-right: 20;
    background-color: white;
}

.post_title{
    font-weight: bold;
    font-size: 20
}

.post_date{
    font-weight: bold;
    font-size: 16
}

.post_content{
    font-size: 14;
}